{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/comment.css'%}">
</head>
<body>
    <h2>Comment on Post: {{ post.title }}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="login-btn" type="submit">Add Comment</button>
    </form>
</body>
</html>
