{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/createpost.css'%}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div>
                <h2>CREATE</h2>
            </div>
            <ul class="nav-links">
                <li><a href="/home">HOME</a></li>
                <li><a href="/logout/">LOGOUT</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}
                <button type="submit">Create Post</button>
            </form>
        </div>
    </div>
</body>
</html>
