*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: orange;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    list-style-type: none;
    display: flex;
    gap: 20px;

}
.nav-links li {
    display: inline-block;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
}
.nav-links li a:hover {
    background-color: #8ca1c9;
    border-radius: 4px;
}